<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mt-2">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="./img/logo.png" class="img-fluid w-25 h-25" alt="El mejor blogs de cosas">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/create"></href=>NUEVO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>