<!DOCTYPE html>
<html lang="es">
  <%- include("./partials/head.ejs") %>

  <body>
    <div class="container mt-3">
      <%- include("./partials/nav.ejs") %>

      <div class="create-form">
        <form method="post" action="/blog">
          <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              required
            />
          </div>
          <div class="mb-3">
            <label for="resume" class="form-label">Resumen</label>
            <input
              type="text"
              class="form-control"
              name="resume"
              id="resume"
              required
            />
          </div>
          <div class="mb-3">
            <label for="body" class="form-label">Contenido</label>
            <textarea
              class="form-control"
              name="body"
              id="body"
              rows="3"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-success">
            Crear nuevo blog
          </button>
        </form>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
